.statistics-container {

    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

/* .row {
    margin-left: 20px;
} */

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
}

.chart-section {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    transform: scale(0.85) translateX(-21px);
    /* Kết hợp scale và translateX */
}

.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.employee-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    margin: 20px;
}

.employee-info {
    flex: 1;
    padding-right: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.print-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: center;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    padding-right: 30px;
    /* Khoảng trống cho icon */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    position: absolute;
    right: 10px;
    color: #888;
    /* Màu của icon */
}