.card {
  animation: fadeIn 0.5s ease-in-out;
  animation-delay: var(--animation-delay);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 10%;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.card-img {
  object-fit: cover;
  height: 80px;
  width: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid green;
}

.card-ava{
  border-right: solid 1px silver;
  margin : 10px 0px 10px 0px;
}


.custom-modal-width .modal-dialog {
  max-width: 450px;
  border-radius: 20px;
}

.employee-modal-bg {
  background-image: url('../assets/background_profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.employee-modal-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
  z-index: 0;
  border-radius: 20px;
}

.employee-modal-bg > * {
  position: relative;
  z-index: 1;
}

.badge-custom {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 6px 14px;
  border-radius: 25px;
  font-size: 0.85rem;
  color: white;
}



.custom-modal-width .modal-dialog {
  max-width: 500px;
}

.employee-modal-bg {
  background-image: url('../assets/background_profile2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.social-icon {
  font-size: 1.5rem;
  color: white;
  transition: all 0.3s ease;
  margin: 0 10px;
}

.social-icon:hover {
  color: #ffd700; /* vàng nhẹ khi hover */
  transform: scale(1.2);
}

